.button {
    display: inline-block;
    padding: 10px 14px;
    background: #7757f3;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #f357f3;
}

.buttons {
    height: 86px;
    margin: 0 auto;
    margin-top: 50px;
    width: 306px;
    text-align: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 30px;
}

#ball {
    transition: 0.24s ease-in-out;
    -webkit-transition: 0.24s ease-in-out;
    -moz-transition: 0.24s ease-in-out;
    -ms-transition: 0.24s ease-in-out;
    -o-transition: 0.24s ease-in-out;
}

span#top {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

span#bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

span#left {
    margin-right: 60px;
}

h1 {
    text-align: center;
}